/*============================
    Padding & Margin
==============================*/

/*===Padding - Right ====*/

.pr-1, .px-1{padding-right:0.25rem !important;}
.pr-2, .px-2{padding-right:0.5rem !important;}
.pr-3, .px-3{padding-right:1rem !important;}
.pr-4, .px-4{padding-right:1.5rem !important;}
.pr-5, .px-5{padding-right:2rem !important;}
.pr-6, .px-6{padding-right:2.5rem !important;}
.pr-7, .px-7{padding-right:3rem !important;}
.pr-8, .px-8{padding-right:3.5rem !important;}
.pr-9, .px-9{padding-right:4rem !important;}
.pr-10, .px-10{padding-right:4.5rem !important;}
.pr-11, .px-11{padding-right:5rem !important;}
.pr-12, .px-12{padding-right:5.5rem !important;}
.pr-13, .px-13{padding-right:6rem !important;}
.pr-14, .px-14{padding-right:6.5rem !important;}
.pr-15, .px-15{padding-right:7rem !important;}
.pr-16, .px-16{padding-right:7.5rem !important;}
.pr-17, .px-17{padding-right:8rem !important;}
.pr-18, .px-18{padding-right:8.5rem !important;}
.pr-19, .px-19{padding-right:9rem !important;}
.pr-20, .px-20{padding-right:9.5rem !important;}
.pr-21, .px-21{padding-right:10rem !important;}
.pr-22, .px-22{padding-right:10.5rem !important;}
.pr-23, .px-23{padding-right:11rem !important;}
.pr-24, .px-24{padding-right:11.5rem !important;}

/*===Padding - left ====*/
.pl-1, .px-1{padding-left:0.25rem !important;}
.pl-2, .px-2{padding-left:0.5rem !important;}
.pl-3, .px-3{padding-left:1rem !important;}
.pl-4, .px-4{padding-left:1.5rem !important;}
.pl-5, .px-5{padding-left:2rem !important;}
.pl-6, .px-6{padding-left:2.5rem !important;}
.pl-7, .px-7{padding-left:3rem !important;}
.pl-8, .px-8{padding-left:3.5rem !important;}
.pl-9, .px-9{padding-left:4rem !important;}
.pl-10, .px-10{padding-left:4.5rem !important;}
.pl-11, .px-11{padding-left:5rem !important;}
.pl-12, .px-12{padding-left:5.5rem !important;}
.pl-13, .px-13{padding-left:6rem !important;}
.pl-14, .px-14{padding-left:6.5rem !important;}
.pl-15, .px-15{padding-left:7rem !important;}
.pl-16, .px-16{padding-left:7.5rem !important;}
.pl-17, .px-17{padding-left:8rem !important;}
.pl-18, .px-18{padding-left:8.5rem !important;}
.pl-19, .px-19{padding-left:9rem !important;}
.pl-20, .px-20{padding-left:9.5rem !important;}
.pl-21, .px-21{padding-left:10rem !important;}
.pl-22, .px-22{padding-left:10.5rem !important;}
.pl-23, .px-23{padding-left:11rem !important;}
.pl-24, .px-24{padding-left:11.5rem !important;}


/*===Padding - Bottom ====*/

.pb-1, .py-1{padding-bottom:0.25rem !important;}
.pb-2, .py-2{padding-bottom:0.5rem !important;}
.pb-3, .py-3{padding-bottom:1rem !important;}
.pb-4, .py-4{padding-bottom:1.5rem !important;}
.pb-5, .py-5{padding-bottom:2rem !important;}
.pb-6, .py-6{padding-bottom:2.5rem !important;}
.pb-7, .py-7{padding-bottom:3rem !important;}
.pb-8, .py-8{padding-bottom:3.5rem !important;}
.pb-9, .py-9{padding-bottom:4rem !important;}
.pb-10, .py-10{padding-bottom:4.5rem !important;}
.pb-11, .py-11{padding-bottom:5rem !important;}
.pb-12, .py-12{padding-bottom:5.5rem !important;}
.pb-13, .py-13{padding-bottom:6rem !important;}
.pb-14, .py-14{padding-bottom:6.5rem !important;}
.pb-15, .py-15{padding-bottom:7rem !important;}
.pb-16, .py-16{padding-bottom:7.5rem !important;}
.pb-17, .py-17{padding-bottom:8rem !important;}
.pb-18, .py-18{padding-bottom:8.5rem !important;}
.pb-19, .py-19{padding-bottom:9rem !important;}
.pb-20, .py-20{padding-bottom:9.5rem !important;}
.pb-21, .py-21{padding-bottom:10rem !important;}
.pb-22, .py-22{padding-bottom:10.5rem !important;}
.pb-23, .py-23{padding-bottom:11rem !important;}
.pb-24, .py-24{padding-bottom:11.5rem !important;}


/*===Padding - Top ====*/


.pt-1, .py-1{padding-top:0.25rem !important;}
.pt-2, .py-2{padding-top:0.5rem !important;}
.pt-3, .py-3{padding-top:1rem !important;}
.pt-4, .py-4{padding-top:1.5rem !important;}
.pt-5, .py-5{padding-top:2rem !important;}
.pt-6, .py-6{padding-top:2.5rem !important;}
.pt-7, .py-7{padding-top:3rem !important;}
.pt-8, .py-8{padding-top:3.5rem !important;}
.pt-9, .py-9{padding-top:4rem !important;}
.pt-10, .py-10{padding-top:4.5rem !important;}
.pt-11, .py-11{padding-top:5rem !important;}
.pt-12, .py-12{padding-top:5.5rem !important;}
.pt-13, .py-13{padding-top:6rem !important;}
.pt-14, .py-14{padding-top:6.5rem !important;}
.pt-15, .py-15{padding-top:7rem !important;}
.pt-16, .py-16{padding-top:7.5rem !important;}
.pt-17, .py-17{padding-top:8rem !important;}
.pt-18, .py-18{padding-top:8.5rem !important;}
.pt-19, .py-19{padding-top:9rem !important;}
.pt-20, .py-20{padding-top:9.5rem !important;}
.pt-21, .py-21{padding-top:10rem !important;}
.pt-22, .py-22{padding-top:10.5rem !important;}
.pt-23, .py-23{padding-top:11rem !important;}
.pt-24, .py-24{padding-top:11.5rem !important;}

/*===Margin - Bottom ====*/
.mb-1, .my-1{margin-bottom:0.25rem !important;}
.mb-2, .my-2{margin-bottom:0.5rem !important;}
.mb-3, .my-3{margin-bottom:1rem !important;}
.mb-4, .my-4{margin-bottom:1.5rem !important;}
.mb-5, .my-5{margin-bottom:2rem !important;}
.mb-6, .my-6{margin-bottom:2.5rem !important;}
.mb-7, .my-7{margin-bottom:3rem !important;}
.mb-8, .my-8{margin-bottom:3.5rem !important;}
.mb-9, .my-9{margin-bottom:4rem !important;}
.mb-10, .my-10{margin-bottom:4.5rem !important;}
.mb-11, .my-11{margin-bottom:5rem !important;}
.mb-12, .my-12{margin-bottom:5.5rem !important;}
.mb-13, .my-13{margin-bottom:6rem !important;}
.mb-14, .my-14{margin-bottom:6.5rem !important;}
.mb-15, .my-15{margin-bottom:7rem !important;}
.mb-16, .my-16{margin-bottom:7.5rem !important;}
.mb-17, .my-17{margin-bottom:8rem !important;}
.mb-18, .my-18{margin-bottom:8.5rem !important;}
.mb-19, .my-19{margin-bottom:9rem !important;}
.mb-20, .my-20{margin-bottom:9.5rem !important;}
.mb-21, .my-21{margin-bottom:10rem !important;}
.mb-22, .my-22{margin-bottom:10.5rem !important;}
.mb-23, .my-23{margin-bottom:11rem !important;}
.mb-24, .my-24{margin-bottom:11.5rem !important;}

/*===Margin - Top ====*/
.mt-1, .my-1{margin-top:0.25rem !important;}
.mt-2, .my-2{margin-top:0.5rem !important;}
.mt-3, .my-3{margin-top:1rem !important;}
.mt-4, .my-4{margin-top:1.5rem !important;}
.mt-5, .my-5{margin-top:2rem !important;}
.mt-6, .my-6{margin-top:2.5rem !important;}
.mt-7, .my-7{margin-top:3rem !important;}
.mt-8, .my-8{margin-top:3.5rem !important;}
.mt-9, .my-9{margin-top:4rem !important;}
.mt-10, .my-10{margin-top:4.5rem !important;}
.mt-11, .my-11{margin-top:5rem !important;}
.mt-12, .my-12{margin-top:5.5rem !important;}
.mt-13, .my-13{margin-top:6rem !important;}
.mt-14, .my-14{margin-top:6.5rem !important;}
.mt-15, .my-15{margin-top:7rem !important;}
.mt-16, .my-16{margin-top:7.5rem !important;}
.mt-17, .my-17{margin-top:8rem !important;}
.mt-18, .my-18{margin-top:8.5rem !important;}
.mt-19, .my-19{margin-top:9rem !important;}
.mt-20, .my-20{margin-top:9.5rem !important;}
.mt-21, .my-21{margin-top:10rem !important;}
.mt-22, .my-22{margin-top:10.5rem !important;}
.mt-23, .my-23{margin-top:11rem !important;}
.mt-24, .my-24{margin-top:11.5rem !important;}


/*===Margin - Right ====*/

.mr-1, .mx-1{margin-right:0.25rem !important;}
.mr-2, .mx-2{margin-right:0.5rem !important;}
.mr-3, .mx-3{margin-right:1rem !important;}
.mr-4, .mx-4{margin-right:1.5rem !important;}
.mr-5, .mx-5{margin-right:2rem !important;}
.mr-6, .mx-6{margin-right:2.5rem !important;}
.mr-7, .mx-7{margin-right:3rem !important;}
.mr-8, .mx-8{margin-right:3.5rem !important;}
.mr-9, .mx-9{margin-right:4rem !important;}
.mr-10, .mx-10{margin-right:4.5rem !important;}
.mr-11, .mx-11{margin-right:5rem !important;}
.mr-12, .mx-12{margin-right:5.5rem !important;}
.mr-13, .mx-13{margin-right:6rem !important;}
.mr-14, .mx-14{margin-right:6.5rem !important;}
.mr-15, .mx-15{margin-right:7rem !important;}
.mr-16, .mx-16{margin-right:7.5rem !important;}
.mr-17, .mx-17{margin-right:8rem !important;}
.mr-18, .mx-18{margin-right:8.5rem !important;}
.mr-19, .mx-19{margin-right:9rem !important;}
.mr-20, .mx-20{margin-right:9.5rem !important;}
.mr-21, .mx-21{margin-right:10rem !important;}
.mr-22, .mx-22{margin-right:10.5rem !important;}
.mr-23, .mx-23{margin-right:11rem !important;}
.mr-24, .mx-24{margin-right:11.5rem !important;}

/*===Margin - Left ====*/
.ml-1, .mx-1{margin-left:0.25rem !important;}
.ml-2, .mx-2{margin-left:0.5rem !important;}
.ml-3, .mx-3{margin-left:1rem !important;}
.ml-4, .mx-4{margin-left:1.5rem !important;}
.ml-5, .mx-5{margin-left:2rem !important;}
.ml-6, .mx-6{margin-left:2.5rem !important;}
.ml-7, .mx-7{margin-left:3rem !important;}
.ml-8, .mx-8{margin-left:3.5rem !important;}
.ml-9, .mx-9{margin-left:4rem !important;}
.ml-10, .mx-10{margin-left:4.5rem !important;}
.ml-11, .mx-11{margin-left:5rem !important;}
.ml-12, .mx-12{margin-left:5.5rem !important;}
.ml-13, .mx-13{margin-left:6rem !important;}
.ml-14, .mx-14{margin-left:6.5rem !important;}
.ml-15, .mx-15{margin-left:7rem !important;}
.ml-16, .mx-16{margin-left:7.5rem !important;}
.ml-17, .mx-17{margin-left:8rem !important;}
.ml-18, .mx-18{margin-left:8.5rem !important;}
.ml-19, .mx-19{margin-left:9rem !important;}
.ml-20, .mx-20{margin-left:9.5rem !important;}
.ml-21, .mx-21{margin-left:10rem !important;}
.ml-22, .mx-22{margin-left:10.5rem !important;}
.ml-23, .mx-23{margin-left:11rem !important;}
.ml-24, .mx-24{margin-left:11.5rem !important;}


@media (min-width: 1200px) {

    .pr-xl-1, .px-xl-1{padding-right:0.25rem !important;}
    .pr-xl-2, .px-xl-2{padding-right:0.5rem !important;}
    .pr-xl-3, .px-xl-3{padding-right:1rem !important;}
    .pr-xl-4, .px-xl-4{padding-right:1.5rem !important;}
    .pr-xl-5, .px-xl-5{padding-right:2rem !important;}
    .pr-xl-6, .px-xl-6{padding-right:2.5rem !important;}
    .pr-xl-7, .px-xl-7{padding-right:3rem !important;}
    .pr-xl-8, .px-xl-8{padding-right:3.5rem !important;}
    .pr-xl-9, .px-xl-9{padding-right:4rem !important;}
    .pr-xl-10, .px-xl-10{padding-right:4.5rem !important;}
    .pr-xl-11, .px-xl-11{padding-right:5rem !important;}
    .pr-xl-12, .px-xl-12{padding-right:5.5rem !important;}
    .pr-xl-13, .px-xl-13{padding-right:6rem !important;}
    .pr-xl-14, .px-xl-14{padding-right:6.5rem !important;}
    .pr-xl-15, .px-xl-15{padding-right:7rem !important;}
    .pr-xl-16, .px-xl-16{padding-right:7.5rem !important;}
    .pr-xl-17, .px-xl-17{padding-right:8rem !important;}
    .pr-xl-18, .px-xl-18{padding-right:8.5rem !important;}
    .pr-xl-19, .px-xl-19{padding-right:9rem !important;}
    .pr-xl-20, .px-xl-20{padding-right:9.5rem !important;}
    .pr-xl-21, .px-xl-21{padding-right:10rem !important;}
    .pr-xl-22, .px-xl-22{padding-right:10.5rem !important;}
    .pr-xl-23, .px-xl-23{padding-right:11rem !important;}
    .pr-xl-24, .px-xl-24{padding-right:11.5rem !important;}
    
    /*===Padding - left ====*/
    .pl-xl-1, .px-xl-1{padding-left:0.25rem !important;}
    .pl-xl-2, .px-xl-2{padding-left:0.5rem !important;}
    .pl-xl-3, .px-xl-3{padding-left:1rem !important;}
    .pl-xl-4, .px-xl-4{padding-left:1.5rem !important;}
    .pl-xl-5, .px-xl-5{padding-left:2rem !important;}
    .pl-xl-6, .px-xl-6{padding-left:2.5rem !important;}
    .pl-xl-7, .px-xl-7{padding-left:3rem !important;}
    .pl-xl-8, .px-xl-8{padding-left:3.5rem !important;}
    .pl-xl-9, .px-xl-9{padding-left:4rem !important;}
    .pl-xl-10, .px-xl-10{padding-left:4.5rem !important;}
    .pl-xl-11, .px-xl-11{padding-left:5rem !important;}
    .pl-xl-12, .px-xl-12{padding-left:5.5rem !important;}
    .pl-xl-13, .px-xl-13{padding-left:6rem !important;}
    .pl-xl-14, .px-xl-14{padding-left:6.5rem !important;}
    .pl-xl-15, .px-xl-15{padding-left:7rem !important;}
    .pl-xl-16, .px-xl-16{padding-left:7.5rem !important;}
    .pl-xl-17, .px-xl-17{padding-left:8rem !important;}
    .pl-xl-18, .px-xl-18{padding-left:8.5rem !important;}
    .pl-xl-19, .px-xl-19{padding-left:9rem !important;}
    .pl-xl-20, .px-xl-20{padding-left:9.5rem !important;}
    .pl-xl-21, .px-xl-21{padding-left:10rem !important;}
    .pl-xl-22, .px-xl-22{padding-left:10.5rem !important;}
    .pl-xl-23, .px-xl-23{padding-left:11rem !important;}
    .pl-xl-24, .px-xl-24{padding-left:11.5rem !important;}
    
    
    /*===Padding - Bottom ====*/
    
    .pb-xl-1, .py-xl-1{padding-bottom:0.25rem !important;}
    .pb-xl-2, .py-xl-2{padding-bottom:0.5rem !important;}
    .pb-xl-3, .py-xl-3{padding-bottom:1rem !important;}
    .pb-xl-4, .py-xl-4{padding-bottom:1.5rem !important;}
    .pb-xl-5, .py-xl-5{padding-bottom:2rem !important;}
    .pb-xl-6, .py-xl-6{padding-bottom:2.5rem !important;}
    .pb-xl-7, .py-xl-7{padding-bottom:3rem !important;}
    .pb-xl-8, .py-xl-8{padding-bottom:3.5rem !important;}
    .pb-xl-9, .py-xl-9{padding-bottom:4rem !important;}
    .pb-xl-10, .py-xl-10{padding-bottom:4.5rem !important;}
    .pb-xl-11, .py-xl-11{padding-bottom:5rem !important;}
    .pb-xl-12, .py-xl-12{padding-bottom:5.5rem !important;}
    .pb-xl-13, .py-xl-13{padding-bottom:6rem !important;}
    .pb-xl-14, .py-xl-14{padding-bottom:6.5rem !important;}
    .pb-xl-15, .py-xl-15{padding-bottom:7rem !important;}
    .pb-xl-16, .py-xl-16{padding-bottom:7.5rem !important;}
    .pb-xl-17, .py-xl-17{padding-bottom:8rem !important;}
    .pb-xl-18, .py-xl-18{padding-bottom:8.5rem !important;}
    .pb-xl-19, .py-xl-19{padding-bottom:9rem !important;}
    .pb-xl-20, .py-xl-20{padding-bottom:9.5rem !important;}
    .pb-xl-21, .py-xl-21{padding-bottom:10rem !important;}
    .pb-xl-22, .py-xl-22{padding-bottom:10.5rem !important;}
    .pb-xl-23, .py-xl-23{padding-bottom:11rem !important;}
    .pb-xl-24, .py-xl-24{padding-bottom:11.5rem !important;}
    
    
    /*===Padding - Top ====*/
    
    
    .pt-xl-1, .py-xl-1{padding-top:0.25rem !important;}
    .pt-xl-2, .py-xl-2{padding-top:0.5rem !important;}
    .pt-xl-3, .py-xl-3{padding-top:1rem !important;}
    .pt-xl-4, .py-xl-4{padding-top:1.5rem !important;}
    .pt-xl-5, .py-xl-5{padding-top:2rem !important;}
    .pt-xl-6, .py-xl-6{padding-top:2.5rem !important;}
    .pt-xl-7, .py-xl-7{padding-top:3rem !important;}
    .pt-xl-8, .py-xl-8{padding-top:3.5rem !important;}
    .pt-xl-9, .py-xl-9{padding-top:4rem !important;}
    .pt-xl-10, .py-xl-10{padding-top:4.5rem !important;}
    .pt-xl-11, .py-xl-11{padding-top:5rem !important;}
    .pt-xl-12, .py-xl-12{padding-top:5.5rem !important;}
    .pt-xl-13, .py-xl-13{padding-top:6rem !important;}
    .pt-xl-14, .py-xl-14{padding-top:6.5rem !important;}
    .pt-xl-15, .py-xl-15{padding-top:7rem !important;}
    .pt-xl-16, .py-xl-16{padding-top:7.5rem !important;}
    .pt-xl-17, .py-xl-17{padding-top:8rem !important;}
    .pt-xl-18, .py-xl-18{padding-top:8.5rem !important;}
    .pt-xl-19, .py-xl-19{padding-top:9rem !important;}
    .pt-xl-20, .py-xl-20{padding-top:9.5rem !important;}
    .pt-xl-21, .py-xl-21{padding-top:10rem !important;}
    .pt-xl-22, .py-xl-22{padding-top:10.5rem !important;}
    .pt-xl-23, .py-xl-23{padding-top:11rem !important;}
    .pt-xl-24, .py-xl-24{padding-top:11.5rem !important;}
    
    /*===Margin - Bottom ====*/
    .mb-xl-1, .my-xl-1{margin-bottom:0.25rem !important;}
    .mb-xl-2, .my-xl-2{margin-bottom:0.5rem !important;}
    .mb-xl-3, .my-xl-3{margin-bottom:1rem !important;}
    .mb-xl-4, .my-xl-4{margin-bottom:1.5rem !important;}
    .mb-xl-5, .my-xl-5{margin-bottom:2rem !important;}
    .mb-xl-6, .my-xl-6{margin-bottom:2.5rem !important;}
    .mb-xl-7, .my-xl-7{margin-bottom:3rem !important;}
    .mb-xl-8, .my-xl-8{margin-bottom:3.5rem !important;}
    .mb-xl-9, .my-xl-9{margin-bottom:4rem !important;}
    .mb-xl-10, .my-xl-10{margin-bottom:4.5rem !important;}
    .mb-xl-11, .my-xl-11{margin-bottom:5rem !important;}
    .mb-xl-12, .my-xl-12{margin-bottom:5.5rem !important;}
    .mb-xl-13, .my-xl-13{margin-bottom:6rem !important;}
    .mb-xl-14, .my-xl-14{margin-bottom:6.5rem !important;}
    .mb-xl-15, .my-xl-15{margin-bottom:7rem !important;}
    .mb-xl-16, .my-xl-16{margin-bottom:7.5rem !important;}
    .mb-xl-17, .my-xl-17{margin-bottom:8rem !important;}
    .mb-xl-18, .my-xl-18{margin-bottom:8.5rem !important;}
    .mb-xl-19, .my-xl-19{margin-bottom:9rem !important;}
    .mb-xl-20, .my-xl-20{margin-bottom:9.5rem !important;}
    .mb-xl-21, .my-xl-21{margin-bottom:10rem !important;}
    .mb-xl-22, .my-xl-22{margin-bottom:10.5rem !important;}
    .mb-xl-23, .my-xl-23{margin-bottom:11rem !important;}
    .mb-xl-24, .my-xl-24{margin-bottom:11.5rem !important;}
    
    /*===Margin - Top ====*/
    .mt-xl-1, .my-xl-1{margin-top:0.25rem !important;}
    .mt-xl-2, .my-xl-2{margin-top:0.5rem !important;}
    .mt-xl-3, .my-xl-3{margin-top:1rem !important;}
    .mt-xl-4, .my-xl-4{margin-top:1.5rem !important;}
    .mt-xl-5, .my-xl-5{margin-top:2rem !important;}
    .mt-xl-6, .my-xl-6{margin-top:2.5rem !important;}
    .mt-xl-7, .my-xl-7{margin-top:3rem !important;}
    .mt-xl-8, .my-xl-8{margin-top:3.5rem !important;}
    .mt-xl-9, .my-xl-9{margin-top:4rem !important;}
    .mt-xl-10, .my-xl-10{margin-top:4.5rem !important;}
    .mt-xl-11, .my-xl-11{margin-top:5rem !important;}
    .mt-xl-12, .my-xl-12{margin-top:5.5rem !important;}
    .mt-xl-13, .my-xl-13{margin-top:6rem !important;}
    .mt-xl-14, .my-xl-14{margin-top:6.5rem !important;}
    .mt-xl-15, .my-xl-15{margin-top:7rem !important;}
    .mt-xl-16, .my-xl-16{margin-top:7.5rem !important;}
    .mt-xl-17, .my-xl-17{margin-top:8rem !important;}
    .mt-xl-18, .my-xl-18{margin-top:8.5rem !important;}
    .mt-xl-19, .my-xl-19{margin-top:9rem !important;}
    .mt-xl-20, .my-xl-20{margin-top:9.5rem !important;}
    .mt-xl-21, .my-xl-21{margin-top:10rem !important;}
    .mt-xl-22, .my-xl-22{margin-top:10.5rem !important;}
    .mt-xl-23, .my-xl-23{margin-top:11rem !important;}
    .mt-xl-24, .my-xl-24{margin-top:11.5rem !important;}
    
    
    /*===Margin - Right ====*/
    
    .mr-xl-1, .mx-xl-1{margin-right:0.25rem !important;}
    .mr-xl-2, .mx-xl-2{margin-right:0.5rem !important;}
    .mr-xl-3, .mx-xl-3{margin-right:1rem !important;}
    .mr-xl-4, .mx-xl-4{margin-right:1.5rem !important;}
    .mr-xl-5, .mx-xl-5{margin-right:2rem !important;}
    .mr-xl-6, .mx-xl-6{margin-right:2.5rem !important;}
    .mr-xl-7, .mx-xl-7{margin-right:3rem !important;}
    .mr-xl-8, .mx-xl-8{margin-right:3.5rem !important;}
    .mr-xl-9, .mx-xl-9{margin-right:4rem !important;}
    .mr-xl-10, .mx-xl-10{margin-right:4.5rem !important;}
    .mr-xl-11, .mx-xl-11{margin-right:5rem !important;}
    .mr-xl-12, .mx-xl-12{margin-right:5.5rem !important;}
    .mr-xl-13, .mx-xl-13{margin-right:6rem !important;}
    .mr-xl-14, .mx-xl-14{margin-right:6.5rem !important;}
    .mr-xl-15, .mx-xl-15{margin-right:7rem !important;}
    .mr-xl-16, .mx-xl-16{margin-right:7.5rem !important;}
    .mr-xl-17, .mx-xl-17{margin-right:8rem !important;}
    .mr-xl-18, .mx-xl-18{margin-right:8.5rem !important;}
    .mr-xl-19, .mx-xl-19{margin-right:9rem !important;}
    .mr-xl-20, .mx-xl-20{margin-right:9.5rem !important;}
    .mr-xl-21, .mx-xl-21{margin-right:10rem !important;}
    .mr-xl-22, .mx-xl-22{margin-right:10.5rem !important;}
    .mr-xl-23, .mx-xl-23{margin-right:11rem !important;}
    .mr-xl-24, .mx-xl-24{margin-right:11.5rem !important;}
    
    /*===Margin - Left ====*/
    .ml-xl-1, .mx-xl-1{margin-left:0.25rem !important;}
    .ml-xl-2, .mx-xl-2{margin-left:0.5rem !important;}
    .ml-xl-3, .mx-xl-3{margin-left:1rem !important;}
    .ml-xl-4, .mx-xl-4{margin-left:1.5rem !important;}
    .ml-xl-5, .mx-xl-5{margin-left:2rem !important;}
    .ml-xl-6, .mx-xl-6{margin-left:2.5rem !important;}
    .ml-xl-7, .mx-xl-7{margin-left:3rem !important;}
    .ml-xl-8, .mx-xl-8{margin-left:3.5rem !important;}
    .ml-xl-9, .mx-xl-9{margin-left:4rem !important;}
    .ml-xl-10, .mx-xl-10{margin-left:4.5rem !important;}
    .ml-xl-11, .mx-xl-11{margin-left:5rem !important;}
    .ml-xl-12, .mx-xl-12{margin-left:5.5rem !important;}
    .ml-xl-13, .mx-xl-13{margin-left:6rem !important;}
    .ml-xl-14, .mx-xl-14{margin-left:6.5rem !important;}
    .ml-xl-15, .mx-xl-15{margin-left:7rem !important;}
    .ml-xl-16, .mx-xl-16{margin-left:7.5rem !important;}
    .ml-xl-17, .mx-xl-17{margin-left:8rem !important;}
    .ml-xl-18, .mx-xl-18{margin-left:8.5rem !important;}
    .ml-xl-19, .mx-xl-19{margin-left:9rem !important;}
    .ml-xl-20, .mx-xl-20{margin-left:9.5rem !important;}
    .ml-xl-21, .mx-xl-21{margin-left:10rem !important;}
    .ml-xl-22, .mx-xl-22{margin-left:10.5rem !important;}
    .ml-xl-23, .mx-xl-23{margin-left:11rem !important;}
    .ml-xl-24, .mx-xl-24{margin-left:11.5rem !important;}


}


@media (min-width: 992px) {

    .pr-lg-1, .px-lg-1{padding-right:0.25rem !important;}
    .pr-lg-2, .px-lg-2{padding-right:0.5rem !important;}
    .pr-lg-3, .px-lg-3{padding-right:1rem !important;}
    .pr-lg-4, .px-lg-4{padding-right:1.5rem !important;}
    .pr-lg-5, .px-lg-5{padding-right:2rem !important;}
    .pr-lg-6, .px-lg-6{padding-right:2.5rem !important;}
    .pr-lg-7, .px-lg-7{padding-right:3rem !important;}
    .pr-lg-8, .px-lg-8{padding-right:3.5rem !important;}
    .pr-lg-9, .px-lg-9{padding-right:4rem !important;}
    .pr-lg-10, .px-lg-10{padding-right:4.5rem !important;}
    .pr-lg-11, .px-lg-11{padding-right:5rem !important;}
    .pr-lg-12, .px-lg-12{padding-right:5.5rem !important;}
    .pr-lg-13, .px-lg-13{padding-right:6rem !important;}
    .pr-lg-14, .px-lg-14{padding-right:6.5rem !important;}
    .pr-lg-15, .px-lg-15{padding-right:7rem !important;}
    .pr-lg-16, .px-lg-16{padding-right:7.5rem !important;}
    .pr-lg-17, .px-lg-17{padding-right:8rem !important;}
    .pr-lg-18, .px-lg-18{padding-right:8.5rem !important;}
    .pr-lg-19, .px-lg-19{padding-right:9rem !important;}
    .pr-lg-20, .px-lg-20{padding-right:9.5rem !important;}
    .pr-lg-21, .px-lg-21{padding-right:10rem !important;}
    .pr-lg-22, .px-lg-22{padding-right:10.5rem !important;}
    .pr-lg-23, .px-lg-23{padding-right:11rem !important;}
    .pr-lg-24, .px-lg-24{padding-right:11.5rem !important;}
    
    /*===Padding - left ====*/
    .pl-lg-1, .px-lg-1{padding-left:0.25rem !important;}
    .pl-lg-2, .px-lg-2{padding-left:0.5rem !important;}
    .pl-lg-3, .px-lg-3{padding-left:1rem !important;}
    .pl-lg-4, .px-lg-4{padding-left:1.5rem !important;}
    .pl-lg-5, .px-lg-5{padding-left:2rem !important;}
    .pl-lg-6, .px-lg-6{padding-left:2.5rem !important;}
    .pl-lg-7, .px-lg-7{padding-left:3rem !important;}
    .pl-lg-8, .px-lg-8{padding-left:3.5rem !important;}
    .pl-lg-9, .px-lg-9{padding-left:4rem !important;}
    .pl-lg-10, .px-lg-10{padding-left:4.5rem !important;}
    .pl-lg-11, .px-lg-11{padding-left:5rem !important;}
    .pl-lg-12, .px-lg-12{padding-left:5.5rem !important;}
    .pl-lg-13, .px-lg-13{padding-left:6rem !important;}
    .pl-lg-14, .px-lg-14{padding-left:6.5rem !important;}
    .pl-lg-15, .px-lg-15{padding-left:7rem !important;}
    .pl-lg-16, .px-lg-16{padding-left:7.5rem !important;}
    .pl-lg-17, .px-lg-17{padding-left:8rem !important;}
    .pl-lg-18, .px-lg-18{padding-left:8.5rem !important;}
    .pl-lg-19, .px-lg-19{padding-left:9rem !important;}
    .pl-lg-20, .px-lg-20{padding-left:9.5rem !important;}
    .pl-lg-21, .px-lg-21{padding-left:10rem !important;}
    .pl-lg-22, .px-lg-22{padding-left:10.5rem !important;}
    .pl-lg-23, .px-lg-23{padding-left:11rem !important;}
    .pl-lg-24, .px-lg-24{padding-left:11.5rem !important;}
    
    
    /*===Padding - Bottom ====*/
    
    .pb-lg-1, .py-lg-1{padding-bottom:0.25rem !important;}
    .pb-lg-2, .py-lg-2{padding-bottom:0.5rem !important;}
    .pb-lg-3, .py-lg-3{padding-bottom:1rem !important;}
    .pb-lg-4, .py-lg-4{padding-bottom:1.5rem !important;}
    .pb-lg-5, .py-lg-5{padding-bottom:2rem !important;}
    .pb-lg-6, .py-lg-6{padding-bottom:2.5rem !important;}
    .pb-lg-7, .py-lg-7{padding-bottom:3rem !important;}
    .pb-lg-8, .py-lg-8{padding-bottom:3.5rem !important;}
    .pb-lg-9, .py-lg-9{padding-bottom:4rem !important;}
    .pb-lg-10, .py-lg-10{padding-bottom:4.5rem !important;}
    .pb-lg-11, .py-lg-11{padding-bottom:5rem !important;}
    .pb-lg-12, .py-lg-12{padding-bottom:5.5rem !important;}
    .pb-lg-13, .py-lg-13{padding-bottom:6rem !important;}
    .pb-lg-14, .py-lg-14{padding-bottom:6.5rem !important;}
    .pb-lg-15, .py-lg-15{padding-bottom:7rem !important;}
    .pb-lg-16, .py-lg-16{padding-bottom:7.5rem !important;}
    .pb-lg-17, .py-lg-17{padding-bottom:8rem !important;}
    .pb-lg-18, .py-lg-18{padding-bottom:8.5rem !important;}
    .pb-lg-19, .py-lg-19{padding-bottom:9rem !important;}
    .pb-lg-20, .py-lg-20{padding-bottom:9.5rem !important;}
    .pb-lg-21, .py-lg-21{padding-bottom:10rem !important;}
    .pb-lg-22, .py-lg-22{padding-bottom:10.5rem !important;}
    .pb-lg-23, .py-lg-23{padding-bottom:11rem !important;}
    .pb-lg-24, .py-lg-24{padding-bottom:11.5rem !important;}
    
    
    /*===Padding - Top ====*/
    
    
    .pt-lg-1, .py-lg-1{padding-top:0.25rem !important;}
    .pt-lg-2, .py-lg-2{padding-top:0.5rem !important;}
    .pt-lg-3, .py-lg-3{padding-top:1rem !important;}
    .pt-lg-4, .py-lg-4{padding-top:1.5rem !important;}
    .pt-lg-5, .py-lg-5{padding-top:2rem !important;}
    .pt-lg-6, .py-lg-6{padding-top:2.5rem !important;}
    .pt-lg-7, .py-lg-7{padding-top:3rem !important;}
    .pt-lg-8, .py-lg-8{padding-top:3.5rem !important;}
    .pt-lg-9, .py-lg-9{padding-top:4rem !important;}
    .pt-lg-10, .py-lg-10{padding-top:4.5rem !important;}
    .pt-lg-11, .py-lg-11{padding-top:5rem !important;}
    .pt-lg-12, .py-lg-12{padding-top:5.5rem !important;}
    .pt-lg-13, .py-lg-13{padding-top:6rem !important;}
    .pt-lg-14, .py-lg-14{padding-top:6.5rem !important;}
    .pt-lg-15, .py-lg-15{padding-top:7rem !important;}
    .pt-lg-16, .py-lg-16{padding-top:7.5rem !important;}
    .pt-lg-17, .py-lg-17{padding-top:8rem !important;}
    .pt-lg-18, .py-lg-18{padding-top:8.5rem !important;}
    .pt-lg-19, .py-lg-19{padding-top:9rem !important;}
    .pt-lg-20, .py-lg-20{padding-top:9.5rem !important;}
    .pt-lg-21, .py-lg-21{padding-top:10rem !important;}
    .pt-lg-22, .py-lg-22{padding-top:10.5rem !important;}
    .pt-lg-23, .py-lg-23{padding-top:11rem !important;}
    .pt-lg-24, .py-lg-24{padding-top:11.5rem !important;}
    
    /*===Margin - Bottom ====*/
    .mb-lg-1, .my-lg-1{margin-bottom:0.25rem !important;}
    .mb-lg-2, .my-lg-2{margin-bottom:0.5rem !important;}
    .mb-lg-3, .my-lg-3{margin-bottom:1rem !important;}
    .mb-lg-4, .my-lg-4{margin-bottom:1.5rem !important;}
    .mb-lg-5, .my-lg-5{margin-bottom:2rem !important;}
    .mb-lg-6, .my-lg-6{margin-bottom:2.5rem !important;}
    .mb-lg-7, .my-lg-7{margin-bottom:3rem !important;}
    .mb-lg-8, .my-lg-8{margin-bottom:3.5rem !important;}
    .mb-lg-9, .my-lg-9{margin-bottom:4rem !important;}
    .mb-lg-10, .my-lg-10{margin-bottom:4.5rem !important;}
    .mb-lg-11, .my-lg-11{margin-bottom:5rem !important;}
    .mb-lg-12, .my-lg-12{margin-bottom:5.5rem !important;}
    .mb-lg-13, .my-lg-13{margin-bottom:6rem !important;}
    .mb-lg-14, .my-lg-14{margin-bottom:6.5rem !important;}
    .mb-lg-15, .my-lg-15{margin-bottom:7rem !important;}
    .mb-lg-16, .my-lg-16{margin-bottom:7.5rem !important;}
    .mb-lg-17, .my-lg-17{margin-bottom:8rem !important;}
    .mb-lg-18, .my-lg-18{margin-bottom:8.5rem !important;}
    .mb-lg-19, .my-lg-19{margin-bottom:9rem !important;}
    .mb-lg-20, .my-lg-20{margin-bottom:9.5rem !important;}
    .mb-lg-21, .my-lg-21{margin-bottom:10rem !important;}
    .mb-lg-22, .my-lg-22{margin-bottom:10.5rem !important;}
    .mb-lg-23, .my-lg-23{margin-bottom:11rem !important;}
    .mb-lg-24, .my-lg-24{margin-bottom:11.5rem !important;}
    
    /*===Margin - Top ====*/
    .mt-lg-1, .my-lg-1{margin-top:0.25rem !important;}
    .mt-lg-2, .my-lg-2{margin-top:0.5rem !important;}
    .mt-lg-3, .my-lg-3{margin-top:1rem !important;}
    .mt-lg-4, .my-lg-4{margin-top:1.5rem !important;}
    .mt-lg-5, .my-lg-5{margin-top:2rem !important;}
    .mt-lg-6, .my-lg-6{margin-top:2.5rem !important;}
    .mt-lg-7, .my-lg-7{margin-top:3rem !important;}
    .mt-lg-8, .my-lg-8{margin-top:3.5rem !important;}
    .mt-lg-9, .my-lg-9{margin-top:4rem !important;}
    .mt-lg-10, .my-lg-10{margin-top:4.5rem !important;}
    .mt-lg-11, .my-lg-11{margin-top:5rem !important;}
    .mt-lg-12, .my-lg-12{margin-top:5.5rem !important;}
    .mt-lg-13, .my-lg-13{margin-top:6rem !important;}
    .mt-lg-14, .my-lg-14{margin-top:6.5rem !important;}
    .mt-lg-15, .my-lg-15{margin-top:7rem !important;}
    .mt-lg-16, .my-lg-16{margin-top:7.5rem !important;}
    .mt-lg-17, .my-lg-17{margin-top:8rem !important;}
    .mt-lg-18, .my-lg-18{margin-top:8.5rem !important;}
    .mt-lg-19, .my-lg-19{margin-top:9rem !important;}
    .mt-lg-20, .my-lg-20{margin-top:9.5rem !important;}
    .mt-lg-21, .my-lg-21{margin-top:10rem !important;}
    .mt-lg-22, .my-lg-22{margin-top:10.5rem !important;}
    .mt-lg-23, .my-lg-23{margin-top:11rem !important;}
    .mt-lg-24, .my-lg-24{margin-top:11.5rem !important;}
    
    
    /*===Margin - Right ====*/
    
    .mr-lg-1, .mx-lg-1{margin-right:0.25rem !important;}
    .mr-lg-2, .mx-lg-2{margin-right:0.5rem !important;}
    .mr-lg-3, .mx-lg-3{margin-right:1rem !important;}
    .mr-lg-4, .mx-lg-4{margin-right:1.5rem !important;}
    .mr-lg-5, .mx-lg-5{margin-right:2rem !important;}
    .mr-lg-6, .mx-lg-6{margin-right:2.5rem !important;}
    .mr-lg-7, .mx-lg-7{margin-right:3rem !important;}
    .mr-lg-8, .mx-lg-8{margin-right:3.5rem !important;}
    .mr-lg-9, .mx-lg-9{margin-right:4rem !important;}
    .mr-lg-10, .mx-lg-10{margin-right:4.5rem !important;}
    .mr-lg-11, .mx-lg-11{margin-right:5rem !important;}
    .mr-lg-12, .mx-lg-12{margin-right:5.5rem !important;}
    .mr-lg-13, .mx-lg-13{margin-right:6rem !important;}
    .mr-lg-14, .mx-lg-14{margin-right:6.5rem !important;}
    .mr-lg-15, .mx-lg-15{margin-right:7rem !important;}
    .mr-lg-16, .mx-lg-16{margin-right:7.5rem !important;}
    .mr-lg-17, .mx-lg-17{margin-right:8rem !important;}
    .mr-lg-18, .mx-lg-18{margin-right:8.5rem !important;}
    .mr-lg-19, .mx-lg-19{margin-right:9rem !important;}
    .mr-lg-20, .mx-lg-20{margin-right:9.5rem !important;}
    .mr-lg-21, .mx-lg-21{margin-right:10rem !important;}
    .mr-lg-22, .mx-lg-22{margin-right:10.5rem !important;}
    .mr-lg-23, .mx-lg-23{margin-right:11rem !important;}
    .mr-lg-24, .mx-lg-24{margin-right:11.5rem !important;}
    
    /*===Margin - Left ====*/
    .ml-lg-1, .mx-lg-1{margin-left:0.25rem !important;}
    .ml-lg-2, .mx-lg-2{margin-left:0.5rem !important;}
    .ml-lg-3, .mx-lg-3{margin-left:1rem !important;}
    .ml-lg-4, .mx-lg-4{margin-left:1.5rem !important;}
    .ml-lg-5, .mx-lg-5{margin-left:2rem !important;}
    .ml-lg-6, .mx-lg-6{margin-left:2.5rem !important;}
    .ml-lg-7, .mx-lg-7{margin-left:3rem !important;}
    .ml-lg-8, .mx-lg-8{margin-left:3.5rem !important;}
    .ml-lg-9, .mx-lg-9{margin-left:4rem !important;}
    .ml-lg-10, .mx-lg-10{margin-left:4.5rem !important;}
    .ml-lg-11, .mx-lg-11{margin-left:5rem !important;}
    .ml-lg-12, .mx-lg-12{margin-left:5.5rem !important;}
    .ml-lg-13, .mx-lg-13{margin-left:6rem !important;}
    .ml-lg-14, .mx-lg-14{margin-left:6.5rem !important;}
    .ml-lg-15, .mx-lg-15{margin-left:7rem !important;}
    .ml-lg-16, .mx-lg-16{margin-left:7.5rem !important;}
    .ml-lg-17, .mx-lg-17{margin-left:8rem !important;}
    .ml-lg-18, .mx-lg-18{margin-left:8.5rem !important;}
    .ml-lg-19, .mx-lg-19{margin-left:9rem !important;}
    .ml-lg-20, .mx-lg-20{margin-left:9.5rem !important;}
    .ml-lg-21, .mx-lg-21{margin-left:10rem !important;}
    .ml-lg-22, .mx-lg-22{margin-left:10.5rem !important;}
    .ml-lg-23, .mx-lg-23{margin-left:11rem !important;}
    .ml-lg-24, .mx-lg-24{margin-left:11.5rem !important;}


}

@media (min-width: 768px) {

    .pr-md-1, .px-md-1{padding-right:0.25rem !important;}
    .pr-md-2, .px-md-2{padding-right:0.5rem !important;}
    .pr-md-3, .px-md-3{padding-right:1rem !important;}
    .pr-md-4, .px-md-4{padding-right:1.5rem !important;}
    .pr-md-5, .px-md-5{padding-right:2rem !important;}
    .pr-md-6, .px-md-6{padding-right:2.5rem !important;}
    .pr-md-7, .px-md-7{padding-right:3rem !important;}
    .pr-md-8, .px-md-8{padding-right:3.5rem !important;}
    .pr-md-9, .px-md-9{padding-right:4rem !important;}
    .pr-md-10, .px-md-10{padding-right:4.5rem !important;}
    .pr-md-11, .px-md-11{padding-right:5rem !important;}
    .pr-md-12, .px-md-12{padding-right:5.5rem !important;}
    .pr-md-13, .px-md-13{padding-right:6rem !important;}
    .pr-md-14, .px-md-14{padding-right:6.5rem !important;}
    .pr-md-15, .px-md-15{padding-right:7rem !important;}
    .pr-md-16, .px-md-16{padding-right:7.5rem !important;}
    .pr-md-17, .px-md-17{padding-right:8rem !important;}
    .pr-md-18, .px-md-18{padding-right:8.5rem !important;}
    .pr-md-19, .px-md-19{padding-right:9rem !important;}
    .pr-md-20, .px-md-20{padding-right:9.5rem !important;}
    .pr-md-21, .px-md-21{padding-right:10rem !important;}
    .pr-md-22, .px-md-22{padding-right:10.5rem !important;}
    .pr-md-23, .px-md-23{padding-right:11rem !important;}
    .pr-md-24, .px-md-24{padding-right:11.5rem !important;}
    
    /*===Padding - left ====*/
    .pl-md-1, .px-md-1{padding-left:0.25rem !important;}
    .pl-md-2, .px-md-2{padding-left:0.5rem !important;}
    .pl-md-3, .px-md-3{padding-left:1rem !important;}
    .pl-md-4, .px-md-4{padding-left:1.5rem !important;}
    .pl-md-5, .px-md-5{padding-left:2rem !important;}
    .pl-md-6, .px-md-6{padding-left:2.5rem !important;}
    .pl-md-7, .px-md-7{padding-left:3rem !important;}
    .pl-md-8, .px-md-8{padding-left:3.5rem !important;}
    .pl-md-9, .px-md-9{padding-left:4rem !important;}
    .pl-md-10, .px-md-10{padding-left:4.5rem !important;}
    .pl-md-11, .px-md-11{padding-left:5rem !important;}
    .pl-md-12, .px-md-12{padding-left:5.5rem !important;}
    .pl-md-13, .px-md-13{padding-left:6rem !important;}
    .pl-md-14, .px-md-14{padding-left:6.5rem !important;}
    .pl-md-15, .px-md-15{padding-left:7rem !important;}
    .pl-md-16, .px-md-16{padding-left:7.5rem !important;}
    .pl-md-17, .px-md-17{padding-left:8rem !important;}
    .pl-md-18, .px-md-18{padding-left:8.5rem !important;}
    .pl-md-19, .px-md-19{padding-left:9rem !important;}
    .pl-md-20, .px-md-20{padding-left:9.5rem !important;}
    .pl-md-21, .px-md-21{padding-left:10rem !important;}
    .pl-md-22, .px-md-22{padding-left:10.5rem !important;}
    .pl-md-23, .px-md-23{padding-left:11rem !important;}
    .pl-md-24, .px-md-24{padding-left:11.5rem !important;}
    
    
    /*===Padding - Bottom ====*/
    
    .pb-md-1, .py-md-1{padding-bottom:0.25rem !important;}
    .pb-md-2, .py-md-2{padding-bottom:0.5rem !important;}
    .pb-md-3, .py-md-3{padding-bottom:1rem !important;}
    .pb-md-4, .py-md-4{padding-bottom:1.5rem !important;}
    .pb-md-5, .py-md-5{padding-bottom:2rem !important;}
    .pb-md-6, .py-md-6{padding-bottom:2.5rem !important;}
    .pb-md-7, .py-md-7{padding-bottom:3rem !important;}
    .pb-md-8, .py-md-8{padding-bottom:3.5rem !important;}
    .pb-md-9, .py-md-9{padding-bottom:4rem !important;}
    .pb-md-10, .py-md-10{padding-bottom:4.5rem !important;}
    .pb-md-11, .py-md-11{padding-bottom:5rem !important;}
    .pb-md-12, .py-md-12{padding-bottom:5.5rem !important;}
    .pb-md-13, .py-md-13{padding-bottom:6rem !important;}
    .pb-md-14, .py-md-14{padding-bottom:6.5rem !important;}
    .pb-md-15, .py-md-15{padding-bottom:7rem !important;}
    .pb-md-16, .py-md-16{padding-bottom:7.5rem !important;}
    .pb-md-17, .py-md-17{padding-bottom:8rem !important;}
    .pb-md-18, .py-md-18{padding-bottom:8.5rem !important;}
    .pb-md-19, .py-md-19{padding-bottom:9rem !important;}
    .pb-md-20, .py-md-20{padding-bottom:9.5rem !important;}
    .pb-md-21, .py-md-21{padding-bottom:10rem !important;}
    .pb-md-22, .py-md-22{padding-bottom:10.5rem !important;}
    .pb-md-23, .py-md-23{padding-bottom:11rem !important;}
    .pb-md-24, .py-md-24{padding-bottom:11.5rem !important;}
    
    
    /*===Padding - Top ====*/
    
    
    .pt-md-1, .py-md-1{padding-top:0.25rem !important;}
    .pt-md-2, .py-md-2{padding-top:0.5rem !important;}
    .pt-md-3, .py-md-3{padding-top:1rem !important;}
    .pt-md-4, .py-md-4{padding-top:1.5rem !important;}
    .pt-md-5, .py-md-5{padding-top:2rem !important;}
    .pt-md-6, .py-md-6{padding-top:2.5rem !important;}
    .pt-md-7, .py-md-7{padding-top:3rem !important;}
    .pt-md-8, .py-md-8{padding-top:3.5rem !important;}
    .pt-md-9, .py-md-9{padding-top:4rem !important;}
    .pt-md-10, .py-md-10{padding-top:4.5rem !important;}
    .pt-md-11, .py-md-11{padding-top:5rem !important;}
    .pt-md-12, .py-md-12{padding-top:5.5rem !important;}
    .pt-md-13, .py-md-13{padding-top:6rem !important;}
    .pt-md-14, .py-md-14{padding-top:6.5rem !important;}
    .pt-md-15, .py-md-15{padding-top:7rem !important;}
    .pt-md-16, .py-md-16{padding-top:7.5rem !important;}
    .pt-md-17, .py-md-17{padding-top:8rem !important;}
    .pt-md-18, .py-md-18{padding-top:8.5rem !important;}
    .pt-md-19, .py-md-19{padding-top:9rem !important;}
    .pt-md-20, .py-md-20{padding-top:9.5rem !important;}
    .pt-md-21, .py-md-21{padding-top:10rem !important;}
    .pt-md-22, .py-md-22{padding-top:10.5rem !important;}
    .pt-md-23, .py-md-23{padding-top:11rem !important;}
    .pt-md-24, .py-md-24{padding-top:11.5rem !important;}
    
    /*===Margin - Bottom ====*/
    .mb-md-1, .my-md-1{margin-bottom:0.25rem !important;}
    .mb-md-2, .my-md-2{margin-bottom:0.5rem !important;}
    .mb-md-3, .my-md-3{margin-bottom:1rem !important;}
    .mb-md-4, .my-md-4{margin-bottom:1.5rem !important;}
    .mb-md-5, .my-md-5{margin-bottom:2rem !important;}
    .mb-md-6, .my-md-6{margin-bottom:2.5rem !important;}
    .mb-md-7, .my-md-7{margin-bottom:3rem !important;}
    .mb-md-8, .my-md-8{margin-bottom:3.5rem !important;}
    .mb-md-9, .my-md-9{margin-bottom:4rem !important;}
    .mb-md-10, .my-md-10{margin-bottom:4.5rem !important;}
    .mb-md-11, .my-md-11{margin-bottom:5rem !important;}
    .mb-md-12, .my-md-12{margin-bottom:5.5rem !important;}
    .mb-md-13, .my-md-13{margin-bottom:6rem !important;}
    .mb-md-14, .my-md-14{margin-bottom:6.5rem !important;}
    .mb-md-15, .my-md-15{margin-bottom:7rem !important;}
    .mb-md-16, .my-md-16{margin-bottom:7.5rem !important;}
    .mb-md-17, .my-md-17{margin-bottom:8rem !important;}
    .mb-md-18, .my-md-18{margin-bottom:8.5rem !important;}
    .mb-md-19, .my-md-19{margin-bottom:9rem !important;}
    .mb-md-20, .my-md-20{margin-bottom:9.5rem !important;}
    .mb-md-21, .my-md-21{margin-bottom:10rem !important;}
    .mb-md-22, .my-md-22{margin-bottom:10.5rem !important;}
    .mb-md-23, .my-md-23{margin-bottom:11rem !important;}
    .mb-md-24, .my-md-24{margin-bottom:11.5rem !important;}
    
    /*===Margin - Top ====*/
    .mt-md-1, .my-md-1{margin-top:0.25rem !important;}
    .mt-md-2, .my-md-2{margin-top:0.5rem !important;}
    .mt-md-3, .my-md-3{margin-top:1rem !important;}
    .mt-md-4, .my-md-4{margin-top:1.5rem !important;}
    .mt-md-5, .my-md-5{margin-top:2rem !important;}
    .mt-md-6, .my-md-6{margin-top:2.5rem !important;}
    .mt-md-7, .my-md-7{margin-top:3rem !important;}
    .mt-md-8, .my-md-8{margin-top:3.5rem !important;}
    .mt-md-9, .my-md-9{margin-top:4rem !important;}
    .mt-md-10, .my-md-10{margin-top:4.5rem !important;}
    .mt-md-11, .my-md-11{margin-top:5rem !important;}
    .mt-md-12, .my-md-12{margin-top:5.5rem !important;}
    .mt-md-13, .my-md-13{margin-top:6rem !important;}
    .mt-md-14, .my-md-14{margin-top:6.5rem !important;}
    .mt-md-15, .my-md-15{margin-top:7rem !important;}
    .mt-md-16, .my-md-16{margin-top:7.5rem !important;}
    .mt-md-17, .my-md-17{margin-top:8rem !important;}
    .mt-md-18, .my-md-18{margin-top:8.5rem !important;}
    .mt-md-19, .my-md-19{margin-top:9rem !important;}
    .mt-md-20, .my-md-20{margin-top:9.5rem !important;}
    .mt-md-21, .my-md-21{margin-top:10rem !important;}
    .mt-md-22, .my-md-22{margin-top:10.5rem !important;}
    .mt-md-23, .my-md-23{margin-top:11rem !important;}
    .mt-md-24, .my-md-24{margin-top:11.5rem !important;}
    
    
    /*===Margin - Right ====*/
    
    .mr-md-1, .mx-md-1{margin-right:0.25rem !important;}
    .mr-md-2, .mx-md-2{margin-right:0.5rem !important;}
    .mr-md-3, .mx-md-3{margin-right:1rem !important;}
    .mr-md-4, .mx-md-4{margin-right:1.5rem !important;}
    .mr-md-5, .mx-md-5{margin-right:2rem !important;}
    .mr-md-6, .mx-md-6{margin-right:2.5rem !important;}
    .mr-md-7, .mx-md-7{margin-right:3rem !important;}
    .mr-md-8, .mx-md-8{margin-right:3.5rem !important;}
    .mr-md-9, .mx-md-9{margin-right:4rem !important;}
    .mr-md-10, .mx-md-10{margin-right:4.5rem !important;}
    .mr-md-11, .mx-md-11{margin-right:5rem !important;}
    .mr-md-12, .mx-md-12{margin-right:5.5rem !important;}
    .mr-md-13, .mx-md-13{margin-right:6rem !important;}
    .mr-md-14, .mx-md-14{margin-right:6.5rem !important;}
    .mr-md-15, .mx-md-15{margin-right:7rem !important;}
    .mr-md-16, .mx-md-16{margin-right:7.5rem !important;}
    .mr-md-17, .mx-md-17{margin-right:8rem !important;}
    .mr-md-18, .mx-md-18{margin-right:8.5rem !important;}
    .mr-md-19, .mx-md-19{margin-right:9rem !important;}
    .mr-md-20, .mx-md-20{margin-right:9.5rem !important;}
    .mr-md-21, .mx-md-21{margin-right:10rem !important;}
    .mr-md-22, .mx-md-22{margin-right:10.5rem !important;}
    .mr-md-23, .mx-md-23{margin-right:11rem !important;}
    .mr-md-24, .mx-md-24{margin-right:11.5rem !important;}
    
    /*===Margin - Left ====*/
    .ml-md-1, .mx-md-1{margin-left:0.25rem !important;}
    .ml-md-2, .mx-md-2{margin-left:0.5rem !important;}
    .ml-md-3, .mx-md-3{margin-left:1rem !important;}
    .ml-md-4, .mx-md-4{margin-left:1.5rem !important;}
    .ml-md-5, .mx-md-5{margin-left:2rem !important;}
    .ml-md-6, .mx-md-6{margin-left:2.5rem !important;}
    .ml-md-7, .mx-md-7{margin-left:3rem !important;}
    .ml-md-8, .mx-md-8{margin-left:3.5rem !important;}
    .ml-md-9, .mx-md-9{margin-left:4rem !important;}
    .ml-md-10, .mx-md-10{margin-left:4.5rem !important;}
    .ml-md-11, .mx-md-11{margin-left:5rem !important;}
    .ml-md-12, .mx-md-12{margin-left:5.5rem !important;}
    .ml-md-13, .mx-md-13{margin-left:6rem !important;}
    .ml-md-14, .mx-md-14{margin-left:6.5rem !important;}
    .ml-md-15, .mx-md-15{margin-left:7rem !important;}
    .ml-md-16, .mx-md-16{margin-left:7.5rem !important;}
    .ml-md-17, .mx-md-17{margin-left:8rem !important;}
    .ml-md-18, .mx-md-18{margin-left:8.5rem !important;}
    .ml-md-19, .mx-md-19{margin-left:9rem !important;}
    .ml-md-20, .mx-md-20{margin-left:9.5rem !important;}
    .ml-md-21, .mx-md-21{margin-left:10rem !important;}
    .ml-md-22, .mx-md-22{margin-left:10.5rem !important;}
    .ml-md-23, .mx-md-23{margin-left:11rem !important;}
    .ml-md-24, .mx-md-24{margin-left:11.5rem !important;}


}


@media (min-width: 576px) {

    .pr-sm-1, .px-sm-1{padding-right:0.25rem !important;}
    .pr-sm-2, .px-sm-2{padding-right:0.5rem !important;}
    .pr-sm-3, .px-sm-3{padding-right:1rem !important;}
    .pr-sm-4, .px-sm-4{padding-right:1.5rem !important;}
    .pr-sm-5, .px-sm-5{padding-right:2rem !important;}
    .pr-sm-6, .px-sm-6{padding-right:2.5rem !important;}
    .pr-sm-7, .px-sm-7{padding-right:3rem !important;}
    .pr-sm-8, .px-sm-8{padding-right:3.5rem !important;}
    .pr-sm-9, .px-sm-9{padding-right:4rem !important;}
    .pr-sm-10, .px-sm-10{padding-right:4.5rem !important;}
    .pr-sm-11, .px-sm-11{padding-right:5rem !important;}
    .pr-sm-12, .px-sm-12{padding-right:5.5rem !important;}
    .pr-sm-13, .px-sm-13{padding-right:6rem !important;}
    .pr-sm-14, .px-sm-14{padding-right:6.5rem !important;}
    .pr-sm-15, .px-sm-15{padding-right:7rem !important;}
    .pr-sm-16, .px-sm-16{padding-right:7.5rem !important;}
    .pr-sm-17, .px-sm-17{padding-right:8rem !important;}
    .pr-sm-18, .px-sm-18{padding-right:8.5rem !important;}
    .pr-sm-19, .px-sm-19{padding-right:9rem !important;}
    .pr-sm-20, .px-sm-20{padding-right:9.5rem !important;}
    .pr-sm-21, .px-sm-21{padding-right:10rem !important;}
    .pr-sm-22, .px-sm-22{padding-right:10.5rem !important;}
    .pr-sm-23, .px-sm-23{padding-right:11rem !important;}
    .pr-sm-24, .px-sm-24{padding-right:11.5rem !important;}
    
    /*===Padding - left ====*/
    .pl-sm-1, .px-sm-1{padding-left:0.25rem !important;}
    .pl-sm-2, .px-sm-2{padding-left:0.5rem !important;}
    .pl-sm-3, .px-sm-3{padding-left:1rem !important;}
    .pl-sm-4, .px-sm-4{padding-left:1.5rem !important;}
    .pl-sm-5, .px-sm-5{padding-left:2rem !important;}
    .pl-sm-6, .px-sm-6{padding-left:2.5rem !important;}
    .pl-sm-7, .px-sm-7{padding-left:3rem !important;}
    .pl-sm-8, .px-sm-8{padding-left:3.5rem !important;}
    .pl-sm-9, .px-sm-9{padding-left:4rem !important;}
    .pl-sm-10, .px-sm-10{padding-left:4.5rem !important;}
    .pl-sm-11, .px-sm-11{padding-left:5rem !important;}
    .pl-sm-12, .px-sm-12{padding-left:5.5rem !important;}
    .pl-sm-13, .px-sm-13{padding-left:6rem !important;}
    .pl-sm-14, .px-sm-14{padding-left:6.5rem !important;}
    .pl-sm-15, .px-sm-15{padding-left:7rem !important;}
    .pl-sm-16, .px-sm-16{padding-left:7.5rem !important;}
    .pl-sm-17, .px-sm-17{padding-left:8rem !important;}
    .pl-sm-18, .px-sm-18{padding-left:8.5rem !important;}
    .pl-sm-19, .px-sm-19{padding-left:9rem !important;}
    .pl-sm-20, .px-sm-20{padding-left:9.5rem !important;}
    .pl-sm-21, .px-sm-21{padding-left:10rem !important;}
    .pl-sm-22, .px-sm-22{padding-left:10.5rem !important;}
    .pl-sm-23, .px-sm-23{padding-left:11rem !important;}
    .pl-sm-24, .px-sm-24{padding-left:11.5rem !important;}
    
    
    /*===Padding - Bottom ====*/
    
    .pb-sm-1, .py-sm-1{padding-bottom:0.25rem !important;}
    .pb-sm-2, .py-sm-2{padding-bottom:0.5rem !important;}
    .pb-sm-3, .py-sm-3{padding-bottom:1rem !important;}
    .pb-sm-4, .py-sm-4{padding-bottom:1.5rem !important;}
    .pb-sm-5, .py-sm-5{padding-bottom:2rem !important;}
    .pb-sm-6, .py-sm-6{padding-bottom:2.5rem !important;}
    .pb-sm-7, .py-sm-7{padding-bottom:3rem !important;}
    .pb-sm-8, .py-sm-8{padding-bottom:3.5rem !important;}
    .pb-sm-9, .py-sm-9{padding-bottom:4rem !important;}
    .pb-sm-10, .py-sm-10{padding-bottom:4.5rem !important;}
    .pb-sm-11, .py-sm-11{padding-bottom:5rem !important;}
    .pb-sm-12, .py-sm-12{padding-bottom:5.5rem !important;}
    .pb-sm-13, .py-sm-13{padding-bottom:6rem !important;}
    .pb-sm-14, .py-sm-14{padding-bottom:6.5rem !important;}
    .pb-sm-15, .py-sm-15{padding-bottom:7rem !important;}
    .pb-sm-16, .py-sm-16{padding-bottom:7.5rem !important;}
    .pb-sm-17, .py-sm-17{padding-bottom:8rem !important;}
    .pb-sm-18, .py-sm-18{padding-bottom:8.5rem !important;}
    .pb-sm-19, .py-sm-19{padding-bottom:9rem !important;}
    .pb-sm-20, .py-sm-20{padding-bottom:9.5rem !important;}
    .pb-sm-21, .py-sm-21{padding-bottom:10rem !important;}
    .pb-sm-22, .py-sm-22{padding-bottom:10.5rem !important;}
    .pb-sm-23, .py-sm-23{padding-bottom:11rem !important;}
    .pb-sm-24, .py-sm-24{padding-bottom:11.5rem !important;}
    
    
    /*===Padding - Top ====*/
    
    
    .pt-sm-1, .py-sm-1{padding-top:0.25rem !important;}
    .pt-sm-2, .py-sm-2{padding-top:0.5rem !important;}
    .pt-sm-3, .py-sm-3{padding-top:1rem !important;}
    .pt-sm-4, .py-sm-4{padding-top:1.5rem !important;}
    .pt-sm-5, .py-sm-5{padding-top:2rem !important;}
    .pt-sm-6, .py-sm-6{padding-top:2.5rem !important;}
    .pt-sm-7, .py-sm-7{padding-top:3rem !important;}
    .pt-sm-8, .py-sm-8{padding-top:3.5rem !important;}
    .pt-sm-9, .py-sm-9{padding-top:4rem !important;}
    .pt-sm-10, .py-sm-10{padding-top:4.5rem !important;}
    .pt-sm-11, .py-sm-11{padding-top:5rem !important;}
    .pt-sm-12, .py-sm-12{padding-top:5.5rem !important;}
    .pt-sm-13, .py-sm-13{padding-top:6rem !important;}
    .pt-sm-14, .py-sm-14{padding-top:6.5rem !important;}
    .pt-sm-15, .py-sm-15{padding-top:7rem !important;}
    .pt-sm-16, .py-sm-16{padding-top:7.5rem !important;}
    .pt-sm-17, .py-sm-17{padding-top:8rem !important;}
    .pt-sm-18, .py-sm-18{padding-top:8.5rem !important;}
    .pt-sm-19, .py-sm-19{padding-top:9rem !important;}
    .pt-sm-20, .py-sm-20{padding-top:9.5rem !important;}
    .pt-sm-21, .py-sm-21{padding-top:10rem !important;}
    .pt-sm-22, .py-sm-22{padding-top:10.5rem !important;}
    .pt-sm-23, .py-sm-23{padding-top:11rem !important;}
    .pt-sm-24, .py-sm-24{padding-top:11.5rem !important;}
    
    /*===Margin - Bottom ====*/
    .mb-sm-1, .my-sm-1{margin-bottom:0.25rem !important;}
    .mb-sm-2, .my-sm-2{margin-bottom:0.5rem !important;}
    .mb-sm-3, .my-sm-3{margin-bottom:1rem !important;}
    .mb-sm-4, .my-sm-4{margin-bottom:1.5rem !important;}
    .mb-sm-5, .my-sm-5{margin-bottom:2rem !important;}
    .mb-sm-6, .my-sm-6{margin-bottom:2.5rem !important;}
    .mb-sm-7, .my-sm-7{margin-bottom:3rem !important;}
    .mb-sm-8, .my-sm-8{margin-bottom:3.5rem !important;}
    .mb-sm-9, .my-sm-9{margin-bottom:4rem !important;}
    .mb-sm-10, .my-sm-10{margin-bottom:4.5rem !important;}
    .mb-sm-11, .my-sm-11{margin-bottom:5rem !important;}
    .mb-sm-12, .my-sm-12{margin-bottom:5.5rem !important;}
    .mb-sm-13, .my-sm-13{margin-bottom:6rem !important;}
    .mb-sm-14, .my-sm-14{margin-bottom:6.5rem !important;}
    .mb-sm-15, .my-sm-15{margin-bottom:7rem !important;}
    .mb-sm-16, .my-sm-16{margin-bottom:7.5rem !important;}
    .mb-sm-17, .my-sm-17{margin-bottom:8rem !important;}
    .mb-sm-18, .my-sm-18{margin-bottom:8.5rem !important;}
    .mb-sm-19, .my-sm-19{margin-bottom:9rem !important;}
    .mb-sm-20, .my-sm-20{margin-bottom:9.5rem !important;}
    .mb-sm-21, .my-sm-21{margin-bottom:10rem !important;}
    .mb-sm-22, .my-sm-22{margin-bottom:10.5rem !important;}
    .mb-sm-23, .my-sm-23{margin-bottom:11rem !important;}
    .mb-sm-24, .my-sm-24{margin-bottom:11.5rem !important;}
    
    /*===Margin - Top ====*/
    .mt-sm-1, .my-sm-1{margin-top:0.25rem !important;}
    .mt-sm-2, .my-sm-2{margin-top:0.5rem !important;}
    .mt-sm-3, .my-sm-3{margin-top:1rem !important;}
    .mt-sm-4, .my-sm-4{margin-top:1.5rem !important;}
    .mt-sm-5, .my-sm-5{margin-top:2rem !important;}
    .mt-sm-6, .my-sm-6{margin-top:2.5rem !important;}
    .mt-sm-7, .my-sm-7{margin-top:3rem !important;}
    .mt-sm-8, .my-sm-8{margin-top:3.5rem !important;}
    .mt-sm-9, .my-sm-9{margin-top:4rem !important;}
    .mt-sm-10, .my-sm-10{margin-top:4.5rem !important;}
    .mt-sm-11, .my-sm-11{margin-top:5rem !important;}
    .mt-sm-12, .my-sm-12{margin-top:5.5rem !important;}
    .mt-sm-13, .my-sm-13{margin-top:6rem !important;}
    .mt-sm-14, .my-sm-14{margin-top:6.5rem !important;}
    .mt-sm-15, .my-sm-15{margin-top:7rem !important;}
    .mt-sm-16, .my-sm-16{margin-top:7.5rem !important;}
    .mt-sm-17, .my-sm-17{margin-top:8rem !important;}
    .mt-sm-18, .my-sm-18{margin-top:8.5rem !important;}
    .mt-sm-19, .my-sm-19{margin-top:9rem !important;}
    .mt-sm-20, .my-sm-20{margin-top:9.5rem !important;}
    .mt-sm-21, .my-sm-21{margin-top:10rem !important;}
    .mt-sm-22, .my-sm-22{margin-top:10.5rem !important;}
    .mt-sm-23, .my-sm-23{margin-top:11rem !important;}
    .mt-sm-24, .my-sm-24{margin-top:11.5rem !important;}
    
    
    /*===Margin - Right ====*/
    
    .mr-sm-1, .mx-sm-1{margin-right:0.25rem !important;}
    .mr-sm-2, .mx-sm-2{margin-right:0.5rem !important;}
    .mr-sm-3, .mx-sm-3{margin-right:1rem !important;}
    .mr-sm-4, .mx-sm-4{margin-right:1.5rem !important;}
    .mr-sm-5, .mx-sm-5{margin-right:2rem !important;}
    .mr-sm-6, .mx-sm-6{margin-right:2.5rem !important;}
    .mr-sm-7, .mx-sm-7{margin-right:3rem !important;}
    .mr-sm-8, .mx-sm-8{margin-right:3.5rem !important;}
    .mr-sm-9, .mx-sm-9{margin-right:4rem !important;}
    .mr-sm-10, .mx-sm-10{margin-right:4.5rem !important;}
    .mr-sm-11, .mx-sm-11{margin-right:5rem !important;}
    .mr-sm-12, .mx-sm-12{margin-right:5.5rem !important;}
    .mr-sm-13, .mx-sm-13{margin-right:6rem !important;}
    .mr-sm-14, .mx-sm-14{margin-right:6.5rem !important;}
    .mr-sm-15, .mx-sm-15{margin-right:7rem !important;}
    .mr-sm-16, .mx-sm-16{margin-right:7.5rem !important;}
    .mr-sm-17, .mx-sm-17{margin-right:8rem !important;}
    .mr-sm-18, .mx-sm-18{margin-right:8.5rem !important;}
    .mr-sm-19, .mx-sm-19{margin-right:9rem !important;}
    .mr-sm-20, .mx-sm-20{margin-right:9.5rem !important;}
    .mr-sm-21, .mx-sm-21{margin-right:10rem !important;}
    .mr-sm-22, .mx-sm-22{margin-right:10.5rem !important;}
    .mr-sm-23, .mx-sm-23{margin-right:11rem !important;}
    .mr-sm-24, .mx-sm-24{margin-right:11.5rem !important;}
    
    /*===Margin - Left ====*/
    .ml-sm-1, .mx-sm-1{margin-left:0.25rem !important;}
    .ml-sm-2, .mx-sm-2{margin-left:0.5rem !important;}
    .ml-sm-3, .mx-sm-3{margin-left:1rem !important;}
    .ml-sm-4, .mx-sm-4{margin-left:1.5rem !important;}
    .ml-sm-5, .mx-sm-5{margin-left:2rem !important;}
    .ml-sm-6, .mx-sm-6{margin-left:2.5rem !important;}
    .ml-sm-7, .mx-sm-7{margin-left:3rem !important;}
    .ml-sm-8, .mx-sm-8{margin-left:3.5rem !important;}
    .ml-sm-9, .mx-sm-9{margin-left:4rem !important;}
    .ml-sm-10, .mx-sm-10{margin-left:4.5rem !important;}
    .ml-sm-11, .mx-sm-11{margin-left:5rem !important;}
    .ml-sm-12, .mx-sm-12{margin-left:5.5rem !important;}
    .ml-sm-13, .mx-sm-13{margin-left:6rem !important;}
    .ml-sm-14, .mx-sm-14{margin-left:6.5rem !important;}
    .ml-sm-15, .mx-sm-15{margin-left:7rem !important;}
    .ml-sm-16, .mx-sm-16{margin-left:7.5rem !important;}
    .ml-sm-17, .mx-sm-17{margin-left:8rem !important;}
    .ml-sm-18, .mx-sm-18{margin-left:8.5rem !important;}
    .ml-sm-19, .mx-sm-19{margin-left:9rem !important;}
    .ml-sm-20, .mx-sm-20{margin-left:9.5rem !important;}
    .ml-sm-21, .mx-sm-21{margin-left:10rem !important;}
    .ml-sm-22, .mx-sm-22{margin-left:10.5rem !important;}
    .ml-sm-23, .mx-sm-23{margin-left:11rem !important;}
    .ml-sm-24, .mx-sm-24{margin-left:11.5rem !important;}


}



